// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Shared Style
.bg-accent {
    background-color: $accent-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
}

.align-middle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    border-color: $primary-color !important;
    background-color: $primary-color !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primary-color !important;
    background-color: $primary-color !important;
}

.custom-control-label {
    padding-left: -20px !important;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: $primary-color;
    border: none;
    border-radius: 1px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $accent-color;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $primary-color;
}

.bootstrap-select {
    .dropdown-item.active,
    .dropdown-item:active {
        color: $white;
        text-decoration: none;
        background-color: $primary-color;
    }
}

.rate-stars {
    .checked {
        color: $primary-color;
    }
}

.mob-hidden {
    @media (max-width: $breakpoint-md - 1px) {
        display: none !important;
    }
}

.mob-m-0 {
    @media (max-width: $breakpoint-sm - 1px) {
        margin: 0px;
    }
}

// ======== App button style ======== //
.btn {
    text-align: center;
}

.btn-accent,
.btn-accent:hover,
.btn-accent:active,
.btn-accent:focus {
    background-color: $accent-color;
    color: $white !important;
    cursor: pointer;
}

.btn-accent-border,
.btn-accent-border:hover,
.btn-accent-border:active,
.btn-accent-border:focus {
    border-color: $accent-color;
    color: $accent-color !important;
    cursor: pointer;
    &.active {
        background-color: $accent-color;
        color: $white !important;
        font-weight: bold;
    }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white !important;
    cursor: pointer;
}

.btn-primary-border,
.btn-primary-border:hover,
.btn-primary-border:active,
.btn-primary-border:focus {
    border-color: $primary-color;
    color: $primary-color !important;
    cursor: pointer;
    &.active {
        background-color: $primary-color;
        color: $white !important;
        font-weight: bold;
    }
}

.display-inline {
    display: inline-flex;
}

.input-error {
    color: #761b18;
}

// ======== ./App button style ======== //
// ===== Custom Radio Style ====== //

/* The container */

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
}


/* Hide the browser's default radio button */

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.radio-container:hover input~.checkmark {
    background-color: $accent-color;
    opacity: 0.5;
}


/* When the radio button is checked, add a blue background */

.radio-container input:checked~.checkmark {
    background-color: $accent-color;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.radio-container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

// ===== ./Custome Radio Style ====== //
.business-hours-pattern {
    display: inline-flex;
}

// ===== margin, padding class redeclare ===== //
.py-5 {
    @media (max-width: $breakpoint-sm - 1px) {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #a845ffbd;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: $accent-color;
}