.detail-container {
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.detail-container .btn-back {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
  text-decoration: none;
}

.detail-container .detail-img-wrapper {
  padding-right: 10%;
  padding-bottom: 5%;
}

@media (max-width: 575px) {
  .detail-container .detail-img-wrapper {
    padding: 15px;
  }
}

.detail-container .detail-img-wrapper .detail-img {
  width: 100%;
  border-radius: 8px;
}

.detail-container .activity-title {
  font-size: 40px;
  font-weight: 500;
  color: #262626;
}

.detail-container .activity-title .rate-stars {
  position: absolute;
  font-size: 30px;
  line-height: 50px;
  right: -200px;
}

.detail-container .activity-place {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  color: #262626;
}

.detail-container .activity-contact {
  font-size: 30px;
}

.detail-container .activity-contact-info {
  font-size: 20px;
}

.detail-container .btn-visit {
  width: 296px;
  height: 93px;
  font-family: BrownPro;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

@media (max-width: 991px) and (min-width: 576px) {
  .detail-container .btn-visit {
    font-size: 30px;
    height: 73px;
  }
}

.detail-container .detail-description {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: normal;
  color: #343434;
}

.detail-container .ad-sidebar {
  float: right;
  margin-top: 50px;
}

.reviews-container {
  font-family: Montserrat;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.reviews-container h2 {
  display: inline-flex;
}

.reviews-container .rate-stars {
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
}

.reviews-container .reviews-content {
  font-size: 25px;
  font-weight: normal;
  color: #393939;
}

#enrollingModal input {
  height: 70px;
  font-size: 30px;
}

@media (max-width: 767px) {
  #enrollingModal input {
    height: 50px;
    font-size: 25px;
  }
}

