// Variables
@import '../variables';
// Frontend Style
// --- Nav
@import 'navbar';
// --- Content
body {
    font-family: Montserrat;
}

main {
    min-height: -webkit-fill-available;
    top: 68px;
}

// --- --- Notification Section Style
.notification-section {
    padding-top: 5px;
    padding-bottom: 5px;
    .notification-message {
        color: $white;
        text-align: left;
        .alert-title {
            font-size: 17px;
            font-weight: bold;
        }
        .alert-content {
            font-size: 16px;
        }
        .link-resend {
            color: darkblue;
            &:hover,
            &:active {
                color: blue;
            }
        }
    }
}

.odd-even-row:nth-child(even) {
    background-color: #f2f2f2;
}

.age-pattern {
    border: solid 1px $primary-color;
    border-radius: 15px;
    background-color: $primary-color;
    color: $white;
    padding: 3px 8px;
    margin: 3px;
    font-size: 15px;
    height: 25px;
}

// --- --- Footer Style
.footer {
    .logo-container {
        a {
            font-family: Helvetica;
            font-size: 36px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: justify;
            color: $white;
        }
    }
    .btn-footer-nav {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $white !important;
    }
}

// Log In & Sign Up Style
.login-modal {
    .modal-dialog {
        margin-top: 50px;
        @media (min-width: $breakpoint-lg) {
            max-width: 90%;
            width: 854px;
            margin-top: 150px;
        }
        .modal-content {
            width: 100%;
            @media (min-width: $breakpoint-lg) {
                width: 854px;
            }
            .nav-tabs {
                .nav-item {
                    width: 50%;
                    .nav-link {
                        height: 74px;
                        background-color: $accent-color;
                        font-family: Montserrat;
                        font-size: 35px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 100%;
                        letter-spacing: normal;
                        text-align: center;
                        color: $white;
                        border: none;
                        outline: none;
                        padding: 16px;
                        &.active {
                            background-color: $white;
                            color: $dark;
                        }
                    }
                }
            }
            .login-signup-form {
                margin: 20px 10px;
                @media (min-width: $breakpoint-lg) {
                    margin: 3rem 5rem;
                }
                .form-control {
                    height: 50px;
                    border-radius: 8px;
                    font-family: BrownPro;
                    font-size: 30px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $dark;
                    @media (min-width: $breakpoint-lg) {
                        height: 70px;
                    }
                }
                input[type=submit] {
                    margin-top: 9px;
                }
                .btn-outline-dark {
                    padding: 0;
                    display: block;
                    height: 40px;
                    float: right;
                    &.btn-google-login {
                        margin-bottom: 5px;
                    }
                    &.btn-twitter-login {
                        margin-top: 5px;
                    }
                    .btn-text {
                        border-right: solid 1px;
                        display: inline-flex;
                        height: 39px;
                        line-height: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                    .btn-icon {
                        width: 35px;
                        display: inline-block;
                    }
                }
                label.h5 {
                    margin-top: 5px;
                }
                .btn.toggle-on,
                .btn.toggle-off {
                    font-size: 25px;
                    line-height: 25px;
                }
                .trigger-signup:hover,
                .trigger-forgetpwd:hover {
                    text-decoration: underline;
                    color: $black;
                    cursor: pointer;
                }
                .trigger-login-wrapper {
                    text-align: center;
                    padding: 10px;
                    cursor: default;
                    width: 100%;
                    .link-login {
                        color: $accent-color;
                        cursor: pointer;
                        &:hover {
                            color: $primary-color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

// featured providers style
.hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        .hover-title {
            left: 0;
        }
        .hover-description {
            right: 0;
        }
    }
    .hover-title {
        width: 100%;
        height: 20%;
        left: calc(-100% - 10px);
        transition: left 2s;
    }
    .hover-description {
        width: 100%;
        height: 80%;
        right: calc(-100% - 10px);
        transition: right 2s;
    }
}

.btn-signup-submit {
    @media (max-width: $breakpoint-lg - 1px) {
        margin-top: 15px;
    }
}

.bootstrap-select {
    width: 100% !important;
    // max-width: 400px;
    .dropdown-menu {
        z-index: 9999;
        min-width: 260px !important;
    }
}

.img-thumbnail.featured {
    width: 100%;
    height: 30vw;
    @media (max-width: $breakpoint-md - 1px) {
        height: 70vw;
    }
}

.mob-inline-flex {
    @media (max-width: $breakpoint-sm - 1px) {
        display: inline-flex;
    }
}