.masthead {
  height: 656px;

  input {
    height: 89px;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 20px;

    &[type=submit] {
      width: calc(100% - 5px);
      margin-left: 5px;
      
      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }

}