.navbar {
  height: 68px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  
  .logo-container {

    .navbar-brand {
      font-family: Helvetica;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: justify;
      color: #000000;
    }   
  }

  .nav-container {

    a {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin: 0 5px;
    }
    
    .nav-btn {
      width: 105px;
      height: 36px;
      border-radius: 8px;
      border: solid 2px #a845ff;
    }

    .nav-user-info {
      position: relative;
      padding: 0px;

      .btn-user-info {
        cursor: pointer;
        
        &:hover {
          opacity: 0.7;
        }

        &.dropdown-toggle {

          &::after {
            display: none;
          }
        }

        .avatar-wrapper {
          display: inline-flex;
          position: relative;
          top: 4px;

          .avatar-img {
            width: 45px;
          }
        }

        .user-info-wrapper {
          display: inline-block;
          position: relative;
          top: -4px;
          padding: 0, 10px;

          .user-info-name {
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            color: $accent-color;
          }

          .user-info-role {
            text-align: center;
            font-size: 14px;
            font-weight: 100;
            color: $primary-color;
          }
        }
      }

      & .dropdown-menu {
        margin-top: 7px;

        .dropdown-item {
          text-align: left;
          margin: 0;
          font-size: 16px;

          &:hover, &:active {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}