.provider-create-container {
	.banner-img {
		width: 100%;
		height: 315px;
		overflow: hidden;
	}
	.provider-create-form {
		width: 100%;
		select, .btn {
			height: 45px;
		}
		label {
			font-family: Montserrat;
		  font-size: 30px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: justify;
		  color: #262626;
		}
		input {
			height: 48px;
		}
		.upload-gird-wrapper {
			display: grid;
		  grid-template-columns: 90px 90px 90px 90px 90px 90px;
		  grid-gap: 10px 10px;
			.upload-item {
				width: 90px;
			  height: 90px;
			  border-radius: 8px;
			  border: solid 1px #393939;
			  .plus-item-group {
			  	padding: 20px 0;
			  	.plus-icon {
						font-size: 25px;
				    line-height: 20px;
				    text-align: center;
			  	}
			  	.plus-text {
						text-align: center;
			  	}
			  }
			}
		}
	}
}